@import url(https://fonts.googleapis.com/css?family=Overpass:200,200i,400,400i,700i);body {
  font-family: 'Overpass', sans-serif; }

.page-section {
  box-sizing: border-box;
  min-height: 200px;
  padding: 70px 50px 100px 50px;
  width: 100vw; }
  .page-section h1 {
    text-align: center; }
  .page-section p {
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.5em; }

a {
  color: orange;
  text-decoration: none; }

.page-section__wrapper {
  margin: 0 auto;
  max-width: 900px; }

.page-section__items-centered {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

@media (max-width: 850px) {
  .page-section__items-centered {
    flex-wrap: wrap; } }

.back-button {
  color: #f6a942;
  cursor: pointer;
  display: block;
  font-weight: 200;
  margin-bottom: 5px;
  text-decoration: none; }
  .back-button:hover {
    text-decoration: underline; }

.nav {
  box-sizing: border-box;
  color: white;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99; }

.nav__list {
  padding: 0;
  list-style: none;
  text-align: center; }

.nav__list__item {
  color: white;
  cursor: pointer;
  display: inline;
  font-size: 1.1em;
  font-weight: 200;
  margin: 2px 10px; }

.nav__list__item a {
  color: white; }

.nav__list__item--active a {
  color: #f6a942; }

@media (max-width: 850px) {
  .nav__list__item--active a {
    color: white; } }

@media (max-width: 550px) {
  .nav__list__item a {
    font-size: 4vw; } }

.intro-section {
  background: #231F20;
  color: white;
  overflow: auto;
  padding: 0; }

.intro-section__text {
  box-sizing: border-box;
  margin: 100px auto;
  padding: 50px 0;
  position: relative;
  width: 620px;
  white-space: nowrap; }

.intro-section__text__logo {
  display: inline-block;
  height: 120px;
  width: 120px;
  float: left;
  margin-top: 50px; }
  .intro-section__text__logo img {
    width: 100%; }

.intro-section__text-wrapper {
  border-left: 2px solid white;
  display: inline-block;
  margin-left: 30px;
  padding-left: 30px;
  width: 400px;
  white-space: normal; }
  .intro-section__text-wrapper h1 {
    margin: 10px 0;
    text-align: left; }
  .intro-section__text-wrapper p {
    margin-top: 0; }

.beansContainer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw; }

@media (max-width: 550px) {
  .intro-section__text {
    padding: 50px 50px 10px 50px;
    white-space: normal;
    width: 100%; }
  .intro-section__text__logo {
    display: block;
    float: none;
    margin: 0 auto; }
  .intro-section__text-wrapper {
    border: none;
    margin: 20px 0;
    padding: 0;
    width: 100%; }
    .intro-section__text-wrapper h1 {
      font-size: 7vw; } }

.roasts-section {
  background: gold;
  overflow: auto; }

a .roast-container {
  background: #231F20;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
  margin: 10px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 45px;
  position: relative;
  width: 225px;
  transition: box-shadow .2s; }
  a .roast-container * {
    pointer-events: none; }
  a .roast-container .heading-container {
    height: 70px; }
    a .roast-container .heading-container .heading-container__text {
      left: 20px;
      position: absolute;
      transition: .5s; }
    a .roast-container .heading-container h2 {
      text-transform: uppercase;
      margin-bottom: 0; }
    a .roast-container .heading-container .origin {
      margin: 0;
      text-transform: capitalize; }
  a .roast-container .bean-container {
    float: left;
    height: 40px;
    left: -80px;
    overflow: hidden;
    position: relative;
    top: 25px;
    transition: .5s;
    width: 50px; }
    a .roast-container .bean-container svg {
      position: absolute;
      right: 0;
      top: 0; }
  a .roast-container:hover {
    box-shadow: 0px 1px 5px orangered; }
    a .roast-container:hover .bean-container {
      left: 0px; }
    a .roast-container:hover .heading-container__text {
      left: 80px;
      position: absolute; }
  a .roast-container .desc-label {
    margin-top: 20px;
    margin-bottom: 0; }
  a .roast-container .out-of-stock {
    background: orangered;
    color: white;
    font-size: .9em;
    font-weight: 600;
    position: absolute;
    right: -30px;
    text-align: center;
    top: 40px;
    transform: rotate(45deg);
    width: 155px; }

.roast-container__price {
  color: #f6a942;
  margin: 20px 0 0 0; }

.roast-container--out-of-stock {
  cursor: not-allowed; }

.roast-container__bar {
  height: 8px;
  left: 0;
  position: absolute;
  width: 100%; }

.roast-container__top-bar {
  top: 0; }

.roast-container__bottom-bar {
  bottom: 0; }

.roast-level {
  background: linear-gradient(to right, white, transparent);
  height: 10px;
  margin: 10px 0;
  max-width: 200px;
  position: relative; }
  .roast-level .roast-level__bar {
    border-right: 3px solid #f6a942;
    height: calc(100% + 4px);
    left: 0;
    position: absolute;
    top: -4px; }

.taste-notes-container {
  margin-top: 10px; }
  .taste-notes-container .taste-note {
    color: gold;
    font-size: .8em;
    margin-right: 8px;
    outline: 1px solid gold;
    padding: 2px 4px; }

@media (max-width: 850px) {
  a .roast-container:hover {
    box-shadow: none; }
    a .roast-container:hover .bean-container {
      left: -80px; }
    a .roast-container:hover .heading-container__text {
      left: 20px;
      position: absolute; } }

.roast-view-container {
  animation-fill-mode: forwards;
  background: #231F20;
  box-sizing: border-box;
  color: white;
  position: fixed;
  padding: 50px 100px 100px 100px;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100; }
  .roast-view-container .buy-button {
    position: absolute;
    right: -295px;
    right: auto;
    left: calc(100% + 55px);
    text-align: left;
    top: 60px;
    width: 300px; }
    .roast-view-container .buy-button h1 {
      color: #f6a942;
      margin-bottom: 20px; }
    .roast-view-container .buy-button .out-of-stock {
      display: inline-block; }
      .roast-view-container .buy-button .out-of-stock h2 {
        background: orangered;
        color: white;
        margin-left: -17px;
        padding: 10px 15px;
        transform: rotate(-10deg); }
      .roast-view-container .buy-button .out-of-stock p {
        margin-top: 25px; }

.roast-view-wrapper {
  margin: auto;
  max-width: 700px;
  position: relative; }

.roast-text-wrapper {
  position: relative; }

.roast-text-wrapper__left {
  border-right: 1px solid white;
  box-sizing: border-box;
  font-weight: 200;
  padding: 10px 20px 15px 20px;
  position: relative;
  margin-top: 30px;
  text-align: right;
  width: 50%; }
  .roast-text-wrapper__left .taste-notes-container {
    margin: 0 0 20px 0; }
  .roast-text-wrapper__left .taste-note {
    margin: 0 0 0 8px; }
  .roast-text-wrapper__left .roast-level {
    margin: 10px 0 0 auto; }

.roast-image {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto; }

.roast__title {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 800;
  margin: 0;
  margin-top: 0;
  text-transform: uppercase; }

.sub-head {
  margin: 3px 0;
  text-transform: capitalize; }

.desc-label {
  margin: 15px 0 10px 0;
  line-height: 1.4; }
  .desc-label span {
    color: gold; }

@media (max-width: 850px) {
  .roast-view-container {
    padding: 50px 50px 100px 50px; }
  .roast-text-wrapper__left {
    border-right: none;
    margin-top: 10px;
    padding: 0;
    text-align: left;
    width: 100%; }
    .roast-text-wrapper__left .taste-note {
      margin: 0 8px 0 0; }
    .roast-text-wrapper__left .roast-level {
      margin: 0 0 20px 0; }
    .roast-text-wrapper__left .buy-button {
      position: relative;
      right: auto;
      left: auto;
      top: auto; } }

@media (max-width: 550px) {
  .roast-view-container {
    padding: 50px 20px 100px 20px; } }

.shop-section {
  background: #327941;
  background: #231F20;
  overflow: visible; }
  .shop-section .page-section__wrapper {
    max-width: 1200px; }
  .shop-section h1 {
    color: white; }

.shop-item {
  color: #231F20;
  cursor: pointer;
  display: inline-block;
  height: 400px;
  margin: 10px;
  overflow: visible;
  position: relative; }
  .shop-item img {
    background: white;
    height: 85%;
    transition: all .2s; }
  .shop-item .shop-item__text {
    bottom: 0px;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    width: 100%; }
    .shop-item .shop-item__text h3 {
      color: white;
      text-transform: uppercase;
      margin: 5px 0 0 0; }
    .shop-item .shop-item__text p {
      color: #f6a942;
      font-weight: 600;
      margin: 0; }
  .shop-item:hover img {
    filter: drop-shadow(1px 1px 4px black); }
  .shop-item:hover .shop-item__text h3 {
    color: white; }

@media (max-width: 550px) {
  .shop-item {
    height: auto; }
    .shop-item img {
      height: auto;
      width: 100%; }
    .shop-item .shop-item__text {
      position: relative; } }

.shop-view-container {
  animation-fill-mode: forwards;
  background: #327941;
  background: #231F20;
  box-sizing: border-box;
  color: white;
  position: fixed;
  overflow-y: scroll;
  padding: 50px 100px 100px 100px;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100; }
  .shop-view-container .shop-view-wrapper {
    margin: auto;
    max-width: 700px; }
  .shop-view-container .shop-item-image__wrapper {
    background: white;
    position: relative;
    width: auto; }
    .shop-view-container .shop-item-image__wrapper .shop-item-image__thumbs {
      left: -130px;
      position: absolute;
      top: 0;
      width: 100px; }
      .shop-view-container .shop-item-image__wrapper .shop-item-image__thumbs .shop-item-image__thumb {
        background: white;
        cursor: pointer;
        margin-bottom: 10px;
        overflow: hidden;
        width: 120px; }
        .shop-view-container .shop-item-image__wrapper .shop-item-image__thumbs .shop-item-image__thumb img {
          height: auto;
          width: 100%; }
      .shop-view-container .shop-item-image__wrapper .shop-item-image__thumbs .shop-item-image__thumb--active {
        outline: 3px solid coral;
        outline-offset: -3px; }
  .shop-view-container img {
    display: block;
    width: 100%;
    margin: 0 auto; }
  .shop-view-container h1 {
    text-transform: uppercase; }

.shop-text-wrapper {
  position: relative; }

.shop-text-wrapper__left {
  border-right: 1px solid white;
  box-sizing: border-box;
  font-weight: 200;
  padding: 10px 20px 15px 20px;
  position: relative;
  margin-top: 30px;
  text-align: right;
  width: 50%; }

.shop__title {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 800;
  margin: 0;
  margin-top: 0;
  text-transform: uppercase; }

.shop__desc {
  line-height: 1.3em; }

.shop__price {
  color: gold; }

.buy-button {
  position: absolute;
  right: -295px;
  top: 60px; }

@media (max-width: 850px) {
  .shop-view-container {
    padding: 50px 100px 100px 100px; }
    .shop-view-container .shop-item-image__wrapper {
      background: white;
      position: relative;
      width: auto; }
      .shop-view-container .shop-item-image__wrapper .shop-item-image__thumbs {
        bottom: -80px;
        height: 70px;
        left: 0px;
        position: absolute;
        top: auto;
        width: 100%;
        white-space: nowrap; }
        .shop-view-container .shop-item-image__wrapper .shop-item-image__thumbs .shop-item-image__thumb {
          display: inline-block;
          margin-right: 10px;
          width: auto; }
          .shop-view-container .shop-item-image__wrapper .shop-item-image__thumbs .shop-item-image__thumb img {
            height: 70px;
            width: auto; }
        .shop-view-container .shop-item-image__wrapper .shop-item-image__thumbs .shop-item-image__thumb--active {
          outline: 3px solid coral;
          outline-offset: -3px; }
  .shop-text-wrapper__left {
    border-right: none;
    margin-top: 100px;
    padding: 0;
    text-align: left;
    width: 100%; }
  .buy-button {
    position: relative;
    right: auto;
    top: auto; } }

@media (max-width: 550px) {
  .shop-view-container {
    padding: 50px 20px; } }

.instafeed-wrapper {
  background: #322F30;
  box-sizing: border-box;
  height: auto;
  text-align: left;
  overflow: auto;
  position: relative; }
  .instafeed-wrapper .instafeed-title {
    color: white;
    padding: 0 40px; }
  .instafeed-wrapper .instafeed-title a {
    text-decoration: none; }
    .instafeed-wrapper .instafeed-title a:hover {
      text-decoration: underline; }
  .instafeed-wrapper .arrows-wrapper {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 10; }
    .instafeed-wrapper .arrows-wrapper .arrow {
      border: 15px solid transparent;
      display: inline-block;
      margin: 0 10px; }
    .instafeed-wrapper .arrows-wrapper .left-arrow {
      border-right-color: white; }
      .instafeed-wrapper .arrows-wrapper .left-arrow:hover {
        border-right-color: gold; }
    .instafeed-wrapper .arrows-wrapper .right-arrow {
      border-left-color: white; }
      .instafeed-wrapper .arrows-wrapper .right-arrow:hover {
        border-left-color: gold; }
  .instafeed-wrapper .instafeed {
    color: gold;
    height: 400px;
    overflow-x: scroll;
    padding-left: 5px;
    padding-right: 150px;
    position: relative;
    white-space: nowrap; }
  .instafeed-wrapper .img_container {
    box-sizing: border-box;
    display: inline-block;
    height: calc(100% - 50px);
    margin: 15px;
    margin-right: 0;
    margin-top: 3px;
    position: relative; }
    .instafeed-wrapper .img_container a {
      position: relative; }
    .instafeed-wrapper .img_container p {
      color: white;
      display: none;
      left: 10%;
      pointer-events: none;
      position: absolute;
      text-align: center;
      top: 43%;
      transform: translateY(-50%);
      width: 80%;
      white-space: normal; }
    .instafeed-wrapper .img_container:hover p {
      display: block; }
  .instafeed-wrapper a:hover img {
    filter: grayscale(80%) brightness(0.4) contrast(120%); }
  .instafeed-wrapper img {
    box-shadow: 0 0 5px #231F20;
    height: 100%;
    transition: all .2s; }
  .instafeed-wrapper .instafeed-fade {
    background: linear-gradient(to left, #322F30, rgba(50, 47, 48, 0));
    top: 0;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 350px; }

@media (max-width: 850px) {
  .instafeed-wrapper .instafeed-title {
    color: white;
    font-size: .9em;
    padding: 3px 20px 0 20px;
    text-align: center; }
  .instafeed-wrapper .instafeed {
    height: 300px; }
  .instafeed-wrapper .instafeed-fade {
    width: 50px; }
  .instafeed-wrapper .arrows-wrapper {
    display: none; }
  .instafeed-wrapper .img_container:hover p {
    display: none; }
  .instafeed-wrapper a:hover img {
    filter: none; } }

.contact-section {
  background: #322F30;
  color: white;
  display: block;
  height: 200px;
  padding: 0; }

.contact__button-wrapper {
  background: #322F30;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  float: left;
  height: 100%;
  padding: 45px 40px;
  width: 50%; }
  .contact__button-wrapper:hover h1 {
    color: gold; }
  .contact__button-wrapper:hover p {
    color: gold; }
  .contact__button-wrapper h1 {
    color: white;
    font-size: 2em;
    font-style: italic;
    font-weight: 800;
    margin: 0;
    text-align: left;
    text-transform: uppercase; }
  .contact__button-wrapper p {
    border-top: 1px dotted white;
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
    max-width: 380px;
    padding-top: 10px; }

.contact__button {
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 20px 25px; }

.contact__link-wrapper {
  background: #5b44a7;
  box-sizing: border-box;
  display: flex;
  font-size: 1.5em;
  float: left;
  height: 100%;
  justify-content: space-around;
  padding: 72px 100px;
  width: 50%; }
  .contact__link-wrapper svg {
    fill: rgba(255, 255, 255, 0.5); }
    .contact__link-wrapper svg:hover {
      cursor: pointer;
      fill: gold; }

@media screen and (max-width: 850px) {
  .contact__button-wrapper {
    height: auto;
    width: 100%; }
  .contact__link-wrapper {
    padding: 72px 50px;
    width: 100%; } }

#contact-view {
  background: #231F20;
  color: white;
  min-height: 100vh; }
  #contact-view h1 {
    text-align: left;
    margin: 0;
    margin-top: 50px; }
  #contact-view p {
    color: #f6a942;
    margin-top: 0; }
  #contact-view input, #contact-view textarea {
    border: none;
    display: block;
    font-size: 1.3em;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%; }
    #contact-view input:focus, #contact-view textarea:focus {
      outline: 2px solid gold;
      outline-offset: 1px; }
  #contact-view textarea {
    height: 200px; }
  #contact-view .button {
    background: gold;
    padding: 10px 20px;
    width: auto; }

#retail-locations-view {
  background: #231F20;
  color: white;
  padding-top: 120px;
  min-height: 100vh; }
  #retail-locations-view h1 {
    text-align: left; }
  #retail-locations-view h2 {
    color: #f6a942; }
  #retail-locations-view p {
    margin: 0; }

@media (max-width: 550px) {
  h1 {
    font-size: 8vw; } }

.pop-up {
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(35, 31, 32, 0.5);
  background: #57935c;
  background: linear-gradient(to left, mediumslateblue, coral);
  border-radius: 2px;
  bottom: 10px;
  color: gold;
  left: 10px;
  text-align: center;
  position: fixed;
  width: calc(100vw - 20px);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease; }
  .pop-up .x {
    color: white;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 13px;
    top: 10px; }

@media (max-width: 550px) {
  .pop-up {
    bottom: 0;
    font-size: 2.8vw;
    left: 0;
    margin: 0;
    width: 100vw; }
    .pop-up .x {
      font-size: 4vw;
      top: 2vw; } }

footer {
  background: #231F20;
  padding-bottom: 10px; }

.footer-image {
  margin: 20px;
  margin-left: calc(50vw - 300px);
  opacity: .4;
  overflow: hidden;
  width: 600px; }

.footer__copyright {
  color: #322F30;
  text-align: center; }

@media (max-width: 850px) {
  .footer-image {
    box-sizing: border-box;
    margin: 0;
    margin-left: auto;
    width: 100%; } }
