.intro-section {
  background: $grey;
  color: white;
  overflow: auto;
  padding: 0;
}

.intro-section__text {
  box-sizing: border-box;
  margin: 100px auto;
  padding: 50px 0;
  position: relative;
  width: 620px;
  white-space: nowrap;
}

.intro-section__text__logo {
  display: inline-block;
  height: 120px;
  width: 120px;

  float: left;
  margin-top: 50px;

  img {
    width: 100%;
  }
}

.intro-section__text-wrapper {
  border-left: 2px solid white;
  display: inline-block;
  margin-left: 30px;
  padding-left: 30px;
  width: 400px;
  white-space: normal;

  h1 {
    margin: 10px 0;
    text-align: left;
  }

  p {
    margin-top: 0;
  }
}

.beansContainer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

@media (max-width: $xs-break) {
  .intro-section__text {
    padding: 50px 50px 10px 50px;
    white-space: normal;
    width: 100%;

  }

  .intro-section__text__logo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .intro-section__text-wrapper {
    border: none;
    margin: 20px 0;
    padding: 0;
    width: 100%;

    h1 {
      font-size: 7vw;
      // text-align: center;
    }
  }
}
