.nav {
  // background: $grey;
  box-sizing: border-box;
  color: white;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
}

.nav__list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav__list__item {
  cursor: pointer;
  display: inline;
  font-size: 1.1em;
  font-weight: 200;
  margin: 2px 10px;
}

.nav__list__item--active {
  color: $orange;
  // text-shadow: 0 1px 3px transparentize($grey, .5);
}
