.pop-up {
  box-sizing: border-box;
  box-shadow: 0 1px 4px transparentize($grey, .5);
  background: rgb(87, 147, 92);
  background: linear-gradient(to left, mediumslateblue, coral);
  border-radius: 2px;
  bottom: 10px;
  color: gold;
  left: 10px;
  // margin: 10px;
  text-align: center;
  position: fixed;
  width: calc(100vw - 20px);

  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;

  .x {
    color: white;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 13px;
    top: 10px;
  }
}

@media(max-width: $xs-break) {
  .pop-up {
    border-radius: 0;
    bottom: 0;
    font-size: 2.5vw;
    left: 0;
    margin: 0;
    width: 100vw;

    .x {
      font-size: 4vw;
      top: 2vw;
    }
  }
}
