#retail-locations-view {
  background: $grey;
  color: white;
  padding-top: 120px;
  min-height: 100vh;

  h1 {
    text-align: left;
  }

  h2 {
    color: $orange;
  }

  p {
    margin: 0;
  }
}

@media (max-width: $xs-break) {
  h1 {
    font-size: 8vw;
  }
}
