.roasts-section {
  background: gold;
  overflow: auto;

  .roasts-section__sub-section {
    border-bottom: 1px dotted $orange;
    font-weight: 400;
    margin-top: 50px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
  }
}
