
.roast-view-container {
  animation-fill-mode: forwards;
  background: $grey;
  box-sizing: border-box;
  color: white;
  position: fixed;
  // text-align: center;

  padding: 50px 100px 100px 100px;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;

  .buy-button {
    position: absolute;
    right: -295px;
    right: auto;
    left: calc(100% + 55px);
    text-align: left;
    top: 60px;
    width: 300px;

    h1 {
      color: $orange;
      margin-bottom: 20px;
    }

    .out-of-stock {
      display: inline-block;

      h2 {
        background: orangered;
        color: white;
        margin-left: -17px;
        padding: 10px 15px;
        transform: rotate(-10deg);
      }

      p {
        margin-top: 25px;
      }
    }
  }
}

  .roast-view-wrapper {
    margin: auto;
    max-width: 700px;
    position: relative;
  }

  .roast-text-wrapper {
    position: relative;
  }

  .roast-text-wrapper__left {
    border-right: 1px solid white;
    box-sizing: border-box;
    font-weight: 200;
    padding: 10px 20px 15px 20px;
    position: relative;
    margin-top: 30px;
    text-align: right;
    width: 50%;

    .taste-notes-container {
      margin: 0 0 20px 0;
    }

    .taste-note {
      margin: 0 0 0 8px;
    }

    .roast-level {
      margin: 10px 0 0 auto;
    }
  }

  .roast-image {
    // border: 1px dotted orange;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .5);
    width: 100%;
    height: auto;
  }

  .roast__title {
    font-size: 2.5em;
    font-style: italic;
    font-weight: 800;
    margin: 0;
    margin-top: 0;
    text-transform: uppercase;
  }

  .sub-head {
    margin: 3px 0;
    text-transform: capitalize;
  }

  .desc-label {
    margin: 15px 0 10px 0;
    line-height: 1.4;

    span {
      color: gold;
    }
  }


@media (max-width: $sm-break) {
  .roast-view-container {
    padding: 50px 50px 100px 50px;
  }

  .roast-image {
    // height: 250px;
  }

  .roast-text-wrapper__left {
    border-right: none;
    margin-top: 10px;
    padding: 0;
    text-align: left;
    width: 100%;

    .taste-note {
      margin: 0 8px 0 0;
    }

    .roast-level {
      margin: 0 0 20px 0;
    }

    .buy-button {
      position: relative;
      right: auto;
      left: auto;
      top: auto;
    }
  }

}

@media (max-width: $xs-break) {
  .roast-view-container {
    padding: 50px 20px 100px 20px;
  }
}
