$color: purple;

.roast-container {
  background: $grey;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(255, 255, 255, .3);
  margin: 10px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 45px;
  position: relative;
  width: 225px;
  transition: box-shadow .2s;

  & * {
    pointer-events: none;
  }

  .heading-container {
    height: 70px;
    .heading-container__text {
      left: 20px;
      position: absolute;
      transition: .5s;
    }
    h2 {
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .origin {
      margin: 0;
      text-transform: capitalize;
    }
  }

  .bean-container {
    float: left;
    height: 40px;
    left: -80px;
    overflow: hidden;
    position: relative;
    top: 25px;
    transition: .5s;
    width: 50px;

    svg {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &:hover {
    box-shadow: 0px 1px 5px orangered;
    .bean-container {
      left: 0px;
    }
    .heading-container__text {
      left: 80px;
      position: absolute;
    }
  }
}

.desc-label {
  margin-top: 20px;
  margin-bottom: 0;
}


.roast-level {
  background: linear-gradient(to right, white, rgba(0,0,0,0));
  height: 10px;
  margin: 10px 0;
  max-width: 200px;
  position: relative;

  .roast-level__bar {
    border-right: 3px solid orange;
    height: calc(100% + 4px);
    left: 0;
    position: absolute;
    top: -4px;
  }
}

.taste-notes-container {
  margin-top: 10px;
  .taste-note {
    margin-right: 8px;
    outline: 1px solid white;
    padding: 2px 4px;
  }
}
